@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    padding-top: 3.5%;
    background-image: url(https://wallpapercave.com/wp/fcuObs5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pacifico', cursive;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7.5%;
    padding-top: 3.5%;
    background-color: #f0f0f0;
    width: 40%;
    height: 25rem;
    margin-left: 20%;
    border-radius: 43% 57% 28% 72% / 57% 55% 45% 43%;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    color: #262523;
}

h4 {
    text-align: center;
    color: #262523;
}


button {
    width: 10%;
    padding: 0.2%;
    margin-left: 45%;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
}

input {
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 1%;
}